body{ margin: 0;}

h1 {
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive
}
span {
    color: orange;}
h3 {
    font-family: 'Poppins', sans-serif;}
p {
    font-family: 'Poppins', sans-serif;}
section {
    display: flex;}
.design {
    width: 50%;
     padding-left: 7%;
}

.design img{width: 95%;}
 

.hire{ text-decoration: none;
padding: 5px 6px;
font-family:'Press Start 2P', cursive ;
background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
border-radius: 5px;
color: white;
font-size: 0.6rem;
}

.banner{ background-image: url(images/top-banner.png.png);

}